/** filename: styles.scss
 *  description: main styles for D&D Text Adventure
 *  author: Sarah Rosanna Busch
 *  date: 10 Sept 2021
 */
/*************************** Scrollbar ******************************/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #444;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}

/*************************** Variables ******************************/
/*************************** Globals ******************************/
* {
  box-sizing: border-box;
  /* padding and border are included in total width/height of all elements */
  margin: 0px;
  color: lightgrey;
}

header, section, footer, aside, nav, main, article, figure {
  display: block;
  /* to define html5 semantic elements in older browsers */
}

a {
  color: darkorange;
}

body {
  background: black;
  color: lightgrey;
  font-size: 13pt;
  font-family: monospace;
}

.viewContainer {
  height: 100vh;
  position: relative;
  background: #212121;
}

/*************************** Layout ******************************/
main {
  height: 100vh;
  max-height: 820px;
  width: 100vw;
  max-width: 420px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 5px solid black;
  box-shadow: 3px 3px 5px 1px black, -1px -1px 10px black;
}

header, footer {
  width: 100vw;
  height: 1em;
  display: none;
}

#dmTable {
  background: #212121;
  background-image: url("../img/background.svg");
  background-size: cover;
  background-position: center;
  flex: 0.75;
  border-bottom: 5px solid black;
  position: relative;
}

.overlay, #dmBtm, #dmTop {
  position: absolute;
  left: -5px;
  width: 100%;
  height: 1em;
  pointer-events: none;
}

#dmTop {
  top: 0;
  background-image: linear-gradient(black, rgba(0, 0, 0, 0));
}

#dmBtm {
  bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), black);
}

#storyText {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 0.5em;
}

#playerMat {
  position: relative;
  background: #121212;
  flex: 0.25;
  padding: 0.5em;
  text-align: center;
  display: table;
  overflow-y: auto;
}
#playerMat #buttonContainer {
  display: table-cell;
  vertical-align: middle;
  overflow-y: auto;
}
#playerMat button {
  padding: 1em;
  margin: 0.75em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  background-color: #090909;
  border: none;
  box-shadow: 1px 1px 5px rgba(255, 0, 0, 0.75), -1px -1px 5px rgba(255, 0, 0, 0.75);
  font-size: 13pt;
  min-width: 40%;
}
#playerMat button.words {
  min-width: 5em;
}

#playerMatCover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/*************************** Classes ******************************/
fieldset {
  box-shadow: 3px 3px 5px 1px black, -1px -1px 10px black;
  max-width: 420px;
  margin: auto;
  margin-bottom: 0.25em;
  display: inline-block;
}

#storyHeading {
  text-align: center;
}
#storyHeading fieldset {
  padding-top: 0;
  padding-bottom: 0.5em;
  border-color: black;
  background-color: #121212;
}
#storyHeading legend {
  padding: 2px 0.5em 2px 0.5em;
  text-shadow: 3px 3px 3px black;
  background: #212121;
  background-color: black;
  border-radius: 2px;
  font-size: 12pt;
  font-weight: bold;
  color: grey;
}
#storyHeading h1 {
  color: rgba(255, 0, 0, 0.75);
  text-shadow: 2px 2px black;
  font-size: 24pt;
}
#storyHeading h3 {
  font-size: smaller;
  padding: 0.5em;
  color: grey;
}

#storyBody fieldset {
  border-radius: 5px;
  border: 1px solid grey;
  background-color: #292929;
  margin-top: 0.5em;
}
#storyBody legend {
  padding: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-weight: bold;
  background: grey;
  color: #212121;
  border-radius: 10px;
  box-shadow: 2px -2px 5px black, -1px -1px 3px black;
}
#storyBody .dm {
  text-align: left;
}
#storyBody .player {
  text-align: right;
}

/* default styles are for phone-sized screens; layout is responsive: */
/* tablet-sized */
/* full-screen */

/*# sourceMappingURL=styles.css.map */
